<div class="thumbnail">
<form class="form">
<div class="form-group">
<label for=""><h4>Username:</h4> </label><input type="text" ng-model="name" class="form-control">
</div>
<div class="form-group">
<label for=""><h4>Password: </h4></label><input type="password" ng-model="pass" class="form-control">
</div>
<div class="form-group">
<button type="button" name="button" ng-click="check()" class="btn btn-primary">Log In</button>
<button type="button" name="button" ng-click="signUp()"class="btn btn-primary">signUp</button>
</div>
{{error}}
</form>
</div>
